/* BASIC CONTENT WRAPPER -------------------------------------- */
.singular-group {
  box-sizing: border-box;
  padding: 125px;
}
.singular-group.no-padding-top {
  padding-top: 0 !important;
}
.singular-group > .wp-block-group__inner-container {
  box-sizing: border-box;
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.singular-group > .wp-block-group__inner-container > *:first-child {
  margin-top: 0;
}
.singular-group > .wp-block-group__inner-container > *:last-child {
  margin-bottom: 0;
}
.singular-group .wp-block-columns {
  margin-bottom: 0;
}
.singular-group .wp-block-columns + .wp-block-columns {
  padding-top: 1.75em;
}
.singular-group .wp-block-column > *:first-child {
  margin-top: 0;
}
.singular-group .wp-block-column > *:last-child {
  margin-bottom: 0;
}


/* CSS MODIFICATIONS -------------------------------------------- */
.no-padding-top {
  padding-top: 0;
}


@media screen and (max-width: 1500px) { /* margins @ 100px */

  /* BASIC CONTENT WRAPPER -------------------------------------- */
  .singular-group {
    padding: 100px;
  }
  .singular-group > .wp-block-group__inner-container { }

}


@media screen and (max-width: 1200px) { /* margins @ 60px */

  /* BASIC CONTENT WRAPPER -------------------------------------- */
  .singular-group {
    padding: 60px;
  }
  .singular-group > .wp-block-group__inner-container { }

}


@media screen and (max-width: 1024px) { /* margins @ 40px */

  /* BASIC CONTENT WRAPPER -------------------------------------- */
  .singular-group {
    padding: 40px;
  }
  .singular-group > .wp-block-group__inner-container { }

}


@media screen and (max-width: 400px) { /* margins @ 30px */

  /* BASIC CONTENT WRAPPER -------------------------------------- */
  .singular-group {
    padding: 30px;
  }
  .singular-group > .wp-block-group__inner-container { }

}
