/* COLOR PALETTE VARIABLES -------------------------------------- */
:root {
  --brand-primary: #0000ff;
  --brand-secondary: #ff0000;
}

/* Defined in the 'after_setup_theme' hook within functions.php */
.has-primary-color {
  color: var(--brand-primary) !important;
}
.has-primary-background-color {
  background-color: var(--brand-primary);
}
.has-secondary-color {
  color: var(--brand-secondary) !important;
}
.has-secondary-background-color {
  background-color: var(--brand-secondary);
}
